.app_light_theme {
    --bg-color: #f9f2fd;
    --secondary-bg-color: #65556b;
    --primary-color: #000;
    --secondary-color: #fff;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #b9b9b9;
}
